.banner-sedona {
  display: block;
  position: relative;
  margin: auto;
  // margin-bottom: 32px;
  background-image: url("/img/backround-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 389px;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 320px;
  //   height: 57px;
  //   right: 50%;
  //   bottom: 0;
  //   transform: translate(50%, -7%);
  //   background-image: url("/source/img/vector.svg");
  // }

  @media (min-width: @tablet-width) {
    // background-image: url("/img/background-banner_tablet.jpg");
    height: 518px;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    // background-image: url("/img/backround-banner.jpg");
    height: 518px;
    width: 1200px;
  }
}

.welcome-banner__text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 282px;
  height: 214px;
  padding: 90px 19px 85px 19px;
}
