.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.main-footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.social__list {
  display: flex;
  list-style: none;
}

.main-footer__copyright {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
