.main-nav__toggle {
  margin: 17px 20px 17px auto;
  width: 23px;
  height: 22px;
  background-image: url("/source/img/icon-menu_burger.svg");
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  // position: absolute;
  display: flex;

  // &--hidden {
  //   display: none;
  // }
}

.main-nav {
  width: 100%;
  display: flex;
  position: absolute;

  &--hidden {
    display: none;
  }
  // position: relative;
  // margin: 0 auto;
}

.main-nav__container {
  margin-top: 56px;

  &--hidden {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__container {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__container {
    width: 1200px;
  }

  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #81b3d2;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    width: 1200px;
  }
}

.main-nav__item {
  width: 320px;
  height: 50px;
}

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  align-items: center;
  vertical-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
