.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.main-footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 33px;
}

.social__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  gap: 6px;
}

.main-footer__copyright {
  display: flex;
  margin: 0;
  margin-top: 30px;
  gap: 12px;
}

.copyright__text {
  .base-text();
}

.search .iframe {
  display: block;
  border: none;
}
