//Блок поиск

.search__wrapper {
  text-align: center;
  text-transform: uppercase;

  .search__title {
    .base-title__tablet();

    @media (min-width: 768px) {
      font-size: 30px;
    }
  }

  .search__text {
    .base-text();
  }
}

.button--search {
  padding: 16px 49px;
}
