//Блок поиск

.search__wrapper {
  text-align: center;
  text-transform: uppercase;

  .search__title {
    .base-title__tablet();

    @media (min-width: 768px) {
      font-size: 30px;
    }
  }

  .search__text {
    .base-text();
  }
}

.button--search {
  .button-base() {
    @media (min-width: 768px) {
      width: 458px;
      height: 58px;
      padding: 14.5px 121px;
    }
  }
}
