//Миксины

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin text-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  align-item: center;
  text-align: center;
}
